
	<span><%=  product[:name]  %></span>
	<span><%=  product[:description]  %></span>
	<span><%= product.formatted_price %></span>
	<span><%= link_to 'Review', product_path(product) %></span>
	<span><%= link_to 'Edit', edit_product_path(product) %></span>
	<span><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: 'Are you sure?'} %></span><br>


