<h1>Available products in Rainforest are:</h1>



<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price ($)</th>
	</tr>

<% @products.each do |p| %>
	<tr>
		<td><%= p[:name] %></td>
		<td><%= p[:description] %></td>
		<td><%= p.formatted_price %></td>
		<td><%= link_to 'Review', product_path(p) %></td>
		<td><%= link_to 'Edit', edit_product_path(p) %></td>
  <td><%= link_to 'Delete', product_path(p), method: :delete, data: {confirm: 'Are you sure?'} %></td>
	</tr>
<% end %>

</table>
<p>-----------------------------------------------</p>
<!-- renders a helpful message with numbers of displayed vs. total entries -->
<em><%= page_entries_info @products %></em>

<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>

<p>-----------------------------------------------</p>
<%= link_to "Home", "/" %><br>
<%= link_to "Add a New Product", "/products/new" %>
