<h1>Available products in Rainforest are:</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price ($)</th>
	</tr>

<% @products.each do |p| %>
	<tr>
		<td><%= p[:name] %></td>
		<td><%= p[:description] %></td>
		<td><%= p.formatted_price %></td>
		<td><%= link_to 'review', product_path(p) %></td>
		<td><%= link_to 'edit', edit_product_path(p) %></td>
  <td><%= link_to 'delete', product_path(p), method: :delete, data: {confirm: 'Are you sure?'} %></td>
	</tr>
<% end %>

</table>
<%= link_to "Home", "/" %><br>
<%= link_to "Add a New Product", "/products/new" %>
