<h1>Available products in Rainforest are:</h1>

<!-- cut out our loop and refactor into the partial "app/views/products/_product.html.erb" -->
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price ($)</th>
	</tr>

<div id="products">
  <%= render @products %>
</div>

</table>


<p>-----------------------------------------------</p>
<!-- renders a helpful message with numbers of displayed vs. total entries -->
<em><%= page_entries_info @products %></em>

<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>

<p>-----------------------------------------------</p>



<%= link_to "Home", "/" %><br>
<%= link_to "Add a New Product", "/products/new" %>
