<h1>Product Details</h1>
<p>
	<strong>Name:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<strong>Price($):</strong>
	<%= @product.formatted_price %>
</p>

<% if current_user%>

  <h3>User Reviews</h3>

  <h4>Available Reviews for <%= @product.name%> are : --- </h4>

  <div id='review-list' > 
    <%= render :partial => "reviews" %>
  </div>

  <h4>New Review</h4>

  <%= form_for([@product, @review], :remote => true) do |f| %>
    <% if @review.errors.any? %>
    
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> did not let this review from being saved:</h2>
        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 

<% end %>


<%= link_to "See All Products", "/products" %>
<%= link_to "Edit this item", edit_product_path(@product) %>